canvas { 
  background-color: 'rgba(255, 255, 225, 1.0)';
  border: 2px solid black; 
  padding-left: 0;
  padding-right: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

form { 
  margin: 0 auto; 
  width:250px;
}

.hide { display: none; }